*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1115px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header-container {
  max-width: 1165px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

h1, h2 {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.header {
  padding-top: 50px;
  padding-bottom: 130px;
  position: relative;
}
.header__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.header__logo-holder {
  padding-right: 222px;
}
.header__nav-holder {
  padding-right: 80px;
  padding-top: 5px;
  z-index: 10;
}
.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
}
.header__nav-link {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #212832;
  font-weight: 500;
}
.header__nav-link:hover {
  color: #DF6951;
  transition: ease-in-out 0.2s;
}
.header__login-holder {
  z-index: 10;
}
.header__login-list {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  padding-top: 5px;
  z-index: 10;
}
.header__login {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #212832;
  font-weight: 500;
}
.header__login:hover {
  color: #DF6951;
  transition: ease-in-out 0.2s;
}
.header__sign-up {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #212832;
  font-weight: 500;
  border: 1px solid #212832;
  border-radius: 5px;
  padding: 9px 21px;
}
.header__sign-up:hover {
  background-color: #F1A501;
  color: white;
  transition: ease-in-out 0.2s;
}
.header__lang {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #212832;
  font-weight: 600;
}
.header__lang-list {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header__lang-link {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: #212832;
  font-weight: 600;
}
.header__decor {
  position: absolute;
  right: 0;
  top: 0;
}

.hero {
  position: relative;
  padding-bottom: 200px;
}
.hero__pre-title {
  font-weight: 700;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #DF6951;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.hero__title {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  max-width: 546px;
  color: #181E4B;
  letter-spacing: -3.5px;
  padding-bottom: 30px;
}
.hero__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  max-width: 477px;
  color: #5E6282;
}
.hero__button-holder {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12px;
  gap: 15px;
}
.hero__find-more-holder {
  padding-top: 30px;
}
.hero__find-more {
  border-radius: 10px;
  background-color: #F1A501;
  color: white;
  padding: 19px 26px;
  box-shadow: 0 20px 35px rgba(241, 165, 1, 0.15);
}
.hero__find-more:hover {
  background-color: #DF6951;
  transition: ease-in-out 0.2s;
}
.hero__image-holder {
  position: absolute;
  right: 117px;
  top: -105px;
}

.services {
  padding-bottom: 155px;
  position: relative;
}
.services__title-holder {
  text-align: center;
}
.services__pre-title {
  color: #5E6282;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 8px;
}
.services__title {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 50px;
  color: #14183E;
  padding-bottom: 66px;
}
.services__icon-holder {
  padding-bottom: 30px;
}
.services__column-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services__column {
  max-width: 261px;
}
.services__column_flight {
  background-color: white;
  position: relative;
  border-radius: 36px;
  padding-left: 42px;
  padding-right: 35px;
  padding-bottom: 40px;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.services__column-icon {
  padding-left: 46px;
}
.services__column-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 15px;
  text-align: center;
  padding-top: 20px;
}
.services__column-text {
  max-width: 181px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #5E6282;
  font-weight: 500;
}
.services__decor {
  position: absolute;
  right: 46px;
  top: -6px;
}
.services__decor2 {
  position: absolute;
  left: -40px;
  bottom: -44px;
  z-index: -1;
}

.destination {
  padding-bottom: 185px;
}
.destination__title-holder {
  text-align: center;
}
.destination__pre-title {
  color: #5E6282;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 8px;
}
.destination__title {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 50px;
  color: #14183E;
  padding-bottom: 66px;
}
.destination__column-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  position: relative;
}
.destination__column {
  max-width: 315px;
  border-radius: 0 0 24px 24px;
  box-shadow: -2px 40px 39px -17px rgba(0, 0, 0, 0.05);
}
.destination__holder {
  border-radius: 0 0 24px 24px;
  padding-top: 40px;
  margin-top: -15px;
  background-color: white;
}
.destination__content-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 27px;
}
.destination__city {
  font-weight: 500;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #5E6282;
  padding-left: 20px;
}
.destination__price {
  font-weight: 500;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #5E6282;
  padding-right: 25px;
}
.destination__days {
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #5E6282;
  padding-left: 15px;
  padding-bottom: 42px;
}
.destination__days-number {
  padding-left: 14px;
}
.destination__decor {
  position: absolute;
  top: 335px;
  right: 4px;
  z-index: -1;
}

.book {
  padding-bottom: 200px;
}
.book__holder {
  display: flex;
  flex-wrap: wrap;
  gap: 117px;
}
.book__pre-title {
  color: #5E6282;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 8px;
}
.book__title {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 50px;
  color: #14183E;
  padding-bottom: 66px;
  max-width: 511px;
}
.book__step {
  position: relative;
  padding-bottom: 48px;
}
.book__step:before {
  content: "";
  background-image: url("../../../../src/img/step1.svg");
  position: absolute;
  width: 47px;
  height: 48px;
  top: 8px;
}
.book__step2 {
  position: relative;
  padding-bottom: 48px;
}
.book__step2:before {
  content: "";
  background-image: url("../../../../src/img/step2.svg");
  position: absolute;
  width: 47px;
  height: 48px;
  top: 8px;
}
.book__step3 {
  position: relative;
  padding-bottom: 48px;
}
.book__step3:before {
  content: "";
  background-image: url("../../../../src/img/step3.svg");
  position: absolute;
  width: 47px;
  height: 48px;
  top: 8px;
}
.book__step-title {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #5E6282;
  padding-bottom: 5px;
  padding-left: 70px;
}
.book__step-text {
  color: #5E6282;
  font-family: "Poppins", sans-serif;
  max-width: 400px;
  padding-left: 70px;
}
.book__trip {
  max-width: 370px;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 26px;
  padding: 20px 23px 32px 23px;
  max-height: 440px;
  margin-top: 70px;
  position: relative;
}
.book__trip-image-holder {
  padding-bottom: 26px;
}
.book__trip-title {
  padding-bottom: 16px;
  font-family: "Poppins", sans-serif;
  color: #080809;
  font-weight: 500;
  font-size: 18px;
}
.book__trip-date-holder {
  padding-bottom: 21px;
}
.book__icon-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  padding-bottom: 30px;
}
.book__trip-content {
  display: flex;
  flex-wrap: wrap;
}
.book__trip-date {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #5E6282;
}
.book__trip-line {
  width: 16px;
  height: 0;
  border: 1px solid #84829A;
  transform: rotate(90deg);
  margin-left: 5px;
  margin-right: 20px;
}
.book__trip-author {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #5E6282;
}
.book__trip-icon {
  padding-right: 15px;
}
.book__like {
  padding-right: 143px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #5E6282;
}
.book__trip-popup {
  background-color: white;
  max-width: 263px;
  border-radius: 18px;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  position: absolute;
  right: -121px;
  bottom: 51px;
}
.book__ongoing-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  padding: 16px 25px 24px 20px;
}
.book__ongoing {
  font-family: "Poppins", sans-serif;
  color: #5E6282;
  padding-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
}
.book__trip-to {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
}
.book__trip-complete {
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 10px;
}
.book__trip-percent {
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #8A79DF;
}

.testimonials {
  padding-bottom: 150px;
}
.testimonials__holder {
  display: flex;
  flex-wrap: wrap;
}
.testimonials__pre-title {
  color: #5E6282;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 8px;
}
.testimonials__title {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 50px;
  color: #14183E;
  padding-bottom: 66px;
  max-width: 511px;
}
.testimonials__column {
  max-width: 504px;
  background: #FFFFFF;
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
  position: relative;
}
.testimonials__content {
  padding: 28px 68px 34px 34px;
}
.testimonials__image {
  position: absolute;
  left: -44px;
  top: -48px;
}
.testimonials__text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #5E6282;
  padding-bottom: 34px;
  max-width: 402px;
}
.testimonials__profile {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #5E6282;
  padding-bottom: 5px;
}
.testimonials__location {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #5E6282;
}

.partners {
  padding-bottom: 111px;
}
.partners__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.subscribe {
  padding-bottom: 166px;
  position: relative;
}
.subscribe__holder {
  background-color: rgba(223, 215, 249, 0.2);
  border-radius: 129px 20px 20px 20px;
  position: relative;
}
.subscribe__title {
  font-family: "Poppins", sans-serif;
  color: #5E6282;
  font-weight: 600;
  font-size: 33px;
  line-height: 54px;
  max-width: 859px;
  text-align: center;
  margin: 0 auto;
  padding-top: 79px;
  padding-bottom: 75px;
}
.subscribe__input-holder {
  text-align: center;
}
.subscribe__form {
  padding-bottom: 78px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 24px;
  position: relative;
}
.subscribe__input {
  max-width: 421px;
  background-color: white;
  border-radius: 10px;
  padding: 25px 277px 27px 60px;
  border: none;
  outline: none;
}
.subscribe__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.subscribe__input-icon {
  position: absolute;
  left: 260px;
  top: 23px;
}
.subscribe__btn {
  border-radius: 10px;
  background-color: #FF946D;
  color: white;
  border: none;
  padding: 23px 50px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}
.subscribe__btn:hover {
  background-color: #731e00;
  transition: ease-in-out 0.2s;
}
.subscribe__decor {
  position: absolute;
  top: 46px;
  left: -90px;
  z-index: -1;
}
.subscribe__decor2 {
  position: absolute;
  right: 0;
  top: 0;
}
/*# sourceMappingURL=main.css.map */
