.partners{

  padding-bottom: 111px;

  &__holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include breakpoint('lg'){
      width: 30%;
      margin: 0 auto;
      justify-content: center;
      gap: 30px;
    }
  }
}