.services{

  padding-bottom: 155px;
  position: relative;

  &__title-holder{
    text-align: center;
  }

  &__pre-title{
    color: $teal;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 8px;
  }

  &__title{
    font-family: 'Volkhov', serif;
    font-weight: 700;
    font-size: 50px;
    color: $dark-blue;
    padding-bottom: 66px;
  }

  &__icon-holder{
    padding-bottom: 30px;
  }

  &__column-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;

    @include breakpoint('xl'){
      justify-content: center;
    }
  }

  &__column{
    max-width: 261px;

    &_flight{
      background-color: white;
      position: relative;
      border-radius: 36px;
      padding-left: 42px;
      padding-right: 35px;
      padding-bottom: 40px;
      box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    }
  }

  &__column-icon{
    padding-left: 46px;
  }

  &__column-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 15px;
    text-align: center;
    padding-top: 20px;
  }

  &__column-text{
    max-width: 181px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #5E6282;
    font-weight: 500;
  }

  &__decor{
    position: absolute;
    right: 46px;
    top: -6px;
    z-index: -1;

    @include breakpoint('md'){
      display: none;
    }
  }

  &__decor2{
    position: absolute;
    left: -40px;
    bottom: -44px;
    z-index: -1;
  }
}