.testimonials{

  padding-bottom: 150px;

  &__holder{
    display: flex;
    flex-wrap: wrap;

    @include breakpoint('xl'){
      width: 50%;
      margin: 0 auto;
    }
  }

  &__title-holder{

    @include breakpoint('xl'){
      padding-bottom: 60px;
    }
  }

  &__pre-title{
    color: $teal;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 8px;
  }

  &__title{
    font-family: 'Volkhov', serif;
    font-weight: 700;
    font-size: 50px;
    color: $dark-blue;
    padding-bottom: 66px;
    max-width: 511px;
  }

  &__column{
    max-width: 504px;
    background: #FFFFFF;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.02), 0 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0 20px 13px rgba(0, 0, 0, 0.01), 0 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
    position: relative;
  }

  &__content{
    padding: 28px 68px 34px 34px;
  }

  &__image{
    position: absolute;
    left: -44px;
    top: -48px;
  }

  &__text{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: $teal;
    padding-bottom: 34px;
    max-width: 402px;
  }

  &__profile{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: $teal;
    padding-bottom: 5px;
  }

  &__location{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: $teal;
  }
}